<!DOCTYPE html>

<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="{{ page.name }}, {{ page.position }} of Viable" />
    <meta name="description" content="{{ page.description }}" />
    <meta name="google-site-verification" content="n_ENKwuQ8KvuI2Be2S7HovbJeLvIq4x-FWolCgmNSmM" />
    <meta name="msvalidate.01" content="7BA8EC0E18618FC5D15FF61642A71E0A" />
    <meta name="robots" content="index,follow,archive" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <title>{{ page.title }}</title>

    <link href="/css/global.css" rel="stylesheet" type="text/css" /> 

    <!--[if lt IE 9]>
      <script src="js/html5.js"></script>
    <![endif]-->

  </head>

  <body class="{{ page.body_class }}">
    <article>
      {{ content }}
    </article>

    <footer>
      <p>
        <small>
          Copyright &copy; 2013 Viable Industries. All rights reserved.<br />
          Your use of this website is subject to our <a href="/terms/"><small>Terms of Use</small></a> and <a href="/privacy/"><small>Privacy Policy</small></a>
        </small>
      </p>
    </footer>
    
  </body>

</html>