<!DOCTYPE html>

<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="{{ page.name }}, {{ page.position }} of Viable" />
    <meta name="description" content="{{ page.description }}" />
    <meta name="google-site-verification" content="n_ENKwuQ8KvuI2Be2S7HovbJeLvIq4x-FWolCgmNSmM" />
    <meta name="msvalidate.01" content="7BA8EC0E18618FC5D15FF61642A71E0A" />
    <meta name="robots" content="index,follow,archive" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <title>{{ page.title }}</title>

    <link href="/css/global.css" rel="stylesheet" type="text/css" /> 

    <!--[if lt IE 9]>
      <script src="js/html5.js"></script>
    <![endif]-->

  </head>

  <body class="{{ page.body_class }}">
      
    <header class="logo">
        <a href="http://www.viable.io/"><img src="/img/logo-ViableIndustries.png" title="We create data, mapping, &amp; visualization tools in Pittsburgh, PA." alt="Viable Industries logo" /></a>
    </header>
    
    <article>
      {{ content }}
    </article>

    <section>
      <p>We are always looking for like-minded organizations that could use our help, please let us know by calling us at <a href="tel:412-956-3358">(412) 956-3358</a> or send us an email at <a href="mailto:grow@viable.io">grow@viable.io</a>.</p>
    </section>
    
    <footer class="copyright">
        <p>
          <small>
              Viable Industries' offices are located on the 2nd Floor of 6101 Penn Ave, Pittsburgh, Penna. 15206 and <a href="http://www.flickr.com/photos/viableindustries/" target="_blank" rel="nofollow">our small farm</a> is located just outside the city in Penn Hills, Penna.
          </small>
        </p>
        <p>
            <small>
                All content on this website is Copyright 2013 Viable Industries, L.L.C., unless otherwise noted. Using this website is subject to our <a href="/terms/">Terms of Use</a> and <a href="/privacy/">Privacy Policy</a>.
            </small>
        </p>
    </footer>

    <script type="text/javascript" src="//use.typekit.net/eks4tss.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <script type="text/javascript">
    
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-34872199-1']);
      _gaq.push(['_setDomainName', 'viable.io']);
      _gaq.push(['_trackPageview']);
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    
    </script>

  </body>

</html>
